<!--! Header  -->
<header class="container" style="display: flex; justify-content: space-between">
  <a>
    <img
      routerLink="/"
      class="logo"
      src="../../../../assets/Tessan.png"
      alt="logo"
    />
  </a>
  <div class="navigation">
    <a
      routerLink="/"
      routerLinkActive="active-color"
      role="button"
      class="outline"
      style="border-radius: 10px 0 0 10px"
      >Generate</a
    >
    <a
      routerLink="display"
      role="button"
      routerLinkActive="active-color"
      class="outline"
      style="border-radius: 0 10px 10px 0"
      >Display</a
    >
  </div>
</header>
